# comment - this is ignored file list
*.suo
*.sln
*.db
*.config
*/bin/
*/obj/
*/Config/
AMQS.Consumer/AliConfig.cs
/packages/RestSharp.105.2.3
/packages/RestSharp.105.2.3
/AliMNS.Consumer/AliMNS.Consumer.csproj.user
*.user
/MNSClient/packages/RestSharp.105.2.3
/MNSClient/packages/RestSharp.105.2.3
